.container {
  padding: 10px;
  margin: 10px;
  margin-left: 1.5rem;
}
.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.slick-list {
  margin-left: 40px;
  margin-right: 40px;
}
.slick-next,
.slick-prev {
  width: 52px;
  height: 52px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 55px;
  color: #fff;
  background-color: #078739;
  border-radius: 100%;
  line-height: 1.1;
  opacity: 0.5;
}
.card {
  position: relative;
  border: 1px solid #078739;
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: rgba(7, 135, 57, 0.3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.card:hover {
  background-color: #078739;
  cursor: pointer;
}
.card:hover h3 {
  color: white;
}
.card-body h3 {
  padding-top: 0.8rem;
  text-align: center;
}
img {
  width: 100%;
}
@media (max-width: 800px) {
  .container {
    margin-left: 0.3rem;
  }
}
