.container {
  padding: 10px;
  margin: 20px;
}
.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.slick-slide.slick-active {
  /* margin-right: 15px; */
}
.card {
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 10px;
  background-color: rgba(7, 135, 57, 0.3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.card:hover {
  background-color: #078739;
  cursor: pointer;
}
.card:hover h3 {
  color: white;
}
.card-body h3 {
  padding-top: 0.8rem;
  text-align: center;
}
